# Database
DATABASE_URL="postgresql://username:password@ep-xxx.us-east-1.aws.neon.tech/dbname?sslmode=require"

DATABASE_HOST=peppcruise.cpam2mii4lrb.eu-north-1.rds.amazonaws.com
DATABASE_PORT=3306
DATABASE_USER=peppcruise
DATABASE_PASSWORD=SDbDo9HbsoM93yNmlXU6
DATABASE_NAME=peppcruise


# JWT
JWT_SECRET="your-super-secret-jwt-key-here-make-it-long-and-secure"
JWT_EXPIRES_IN="7d"
JWT_TOKEN_EXPIRY="1h"

# App
NODE_ENV=development
PORT=3000
API_PREFIX=api
CORS_ORIGINS=http://localhost:3000,http://localhost:5173

# Rate Limiting
RATE_LIMIT_TTL=60000
RATE_LIMIT_LIMIT=10

# Email (configure based on your provider)
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_ID="your-email@gmail.com"
EMAIL_PASS="your-app-password"
EMAIL_FROM="noreply@yourapp.com"

# Flutterwave webhook
FLUTTERWAVE_SECRET_HASH=
FLUTTERWAVE_SECRET_KEY=
FLUTTERWAVE_BASE_URL=

# Stripe secret webhook
STRIPE_SECRET_KEY=simple-stripe-url

# client
SONA_ADMIN_CLIENT_URL=admin-client-url
SONA_APP_CLIENT_URL=app-client-url